body{
    font-size: 1em;
    background-color: white;
}

table {
    border-collapse: collapse;
    border:1px solid black;
    color:white;
    text-shadow: black 0.5px 1px; /* couleur,x,y*/
    font-weight:bold;
    text-align: center;
    margin:auto;
    font-size: 3em;
    display: inline-block;
}

th, td {
    border: 1px solid lightblue;
   /* background-color:#1895e7;*/
    width: 70px;
	height: 70px;
}
header h1{
    text-align: center;
}
.lettreCorrect{
	background: linear-gradient(#fd6a49, #c53501)!important;
	
}
.lettreMalPlacee{
	background: linear-gradient(#ffb500, #d89900) !important; /*DOIT ETRE CIRCULAIRE !!*/
} 
.lettreNormal{
    background: linear-gradient(#2eb2fc, #0268cc);
}
#play
{
    width:60%;
    height:80%;
    margin:auto;
    text-align: center;
}
#config{
    text-align: center;
}
#timer{
    width: 150px;
    height: 150px;
    display: inline-block;
    -webkit-animation: circle infinite 1s linear;
    -moz-animation: circle infinite 1s linear;
    -o-animation: circle infinite 1s linear;
    animation: circle infinite 1s linear;
    border: 2px solid red;
    border-top-color: rgba(0, 0, 0, .2);
    border-right-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    border-radius: 100%;
}

#mot
{
    width:80%;
    margin-top:5%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-weight:bold;
    height:10vh;
}

.wrongWord
{
    /*background:black;*/
}
 #valTimer{
    position: relative;
    top: -45px;
    left: -49.25%;
    font-size: 9em;
 }
.wrapper{
    display: inline-block;
    vertical-align: top;
}
@keyframes circle
{
    0%
    {
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
             -o-transform: rotate(0);
                transform: rotate(0);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}


@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?yh6y09');
    src:    url('fonts/icomoon.eot?yh6y09#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?yh6y09') format('truetype'),
        url('fonts/icomoon.woff?yh6y09') format('woff'),
        url('fonts/icomoon.svg?yh6y09#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clock-o:before {
    content: "\e900";
}
.icon-chronometer:before {
    content: "\e901";
}
.icon-time:before {
    content: "\e902";
}
.icon-alarmclock:before {
    content: "\e903";
}
.icon-bomb:before {
    content: "\e904";
}
.icon-book:before {
    content: "\e91f";
}
.icon-clock:before {
    content: "\e94e";
}
.icon-alarm:before {
    content: "\e950";
}
.icon-stopwatch:before {
    content: "\e952";
}
.icon-list-numbered:before {
    content: "\e9b9";
}

